<div>
  <form #memberDetails="ngForm" (ngSubmit)="signUp()">
    <h1>Sign Up! <i class="fas fa-envelope"></i></h1> 
    <label name="name">Name</label>
    <input [(ngModel)]="userDetails.name" name="name" type="text" required>
    <label name="Email">Email</label>
    <input [(ngModel)]="userDetails.email" name="email" type="email" required>

    <button type="submit">Submit</button>
  </form>
  <p *ngIf="error" id="error">{{ errorMsg }}</p>
  <P *ngIf="success" id="success">You successfully signed up!</P>
  <div>
    
  </div>
</div>