div {
    margin-top: 100px;

}
form {
    font-family: Helvetica, Arial, sans-serif;
    background-color: grey;
    padding: 50px;
    width: 500px;
    margin: auto;
}

input {
    text-align: center;
    margin: auto;
    display: block;
    width: 400px;
    height: 30px;
}

button {
    width: 404px;
    margin-top: 2px;
    height: 30px;
    background-color: rgb(84, 172, 81);
    color: white;
    font-weight: bolder;
    border: none;
}

button:hover {
    background-color: rgb(130, 218, 127);
    cursor: pointer;
}